<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="SQLConnection" value="Data Source=ADMIN-PC;Initial Catalog=ServeAtDoorstep;Integrated Security=True;Connect Timeout=500"/>
    <add key="mailUsername" value="yardecart@gmail.com"/>
    <add key="mailPassword" value="yadmin123"/>
    <add key="ApplicationPath" value="http://localhost:51366"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="ServeAtDoorstepServiceApp.IServeAtDoorstepService">
        <endpoint address="" behaviorConfiguration="ServeServiceBehavior"
          binding="webHttpBinding" bindingConfiguration="" contract="ServeAtDoorstepServiceApp.IServeAtDoorstepService" />
        <!--<host>
          <baseAddresses>
            <add baseAddress="http://localhost/YardeCartServices" />
          </baseAddresses>
        </host>-->
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServeServiceBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="webHttpBinding" scheme="http"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
</configuration>